<template lang="pug">
  .home
    .tagline green thumb = green 💚
    .about
      p Hello fellow plant lover,
      p I believe that everybody has a green thumb, and I want to help you believe it too!
      p
        | If you're a new or aspiring plant parent, then I hope to be there with you from the
        | beginning of your plant journey, and if you already have your own indoor jungle,
        | then I'm here to help you expand your green canopy!
      p
        | Based in Glasgow, Scotland, I want to help people grow their plants
        | (and their plant collections!),
        | and I'm super into helping people realise that they don't need any special powers
        | to grow the 'difficult' plants.
      p
        | If you have any questions (about your plants or our shop),
        | ideas from what you want from your plant shop, or are interested in hearing more from me,
        | just fill in the form below and I'll get back to you as soon as possible!
      p
        | Hoping to hear from you soon,
        br
        | love Callym
        br
        | xxx

    contact-form.contact-form
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ContactForm from '@/components/ContactForm.vue';

@Component({
  components: {
    'contact-form': ContactForm,
  },
})
export default class About extends Vue { }
</script>

<style scoped lang="scss">
.tagline {
  font-size: 5vw;

  @include media-breakpoint-down(xs) {
    text-align: center;
    font-size: 10vw;
  }
}

.about {
  margin-top: 3em;
  margin-bottom: 3em;
  text-align: left;
}

.contact-form {
  width: 80%;
  margin: 0 auto;

  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}
</style>
