<template lang="pug">
  checkout
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CheckoutComponent from '@/components/Checkout.vue';

@Component({
  components: {
    checkout: CheckoutComponent,
  },
})
export default class Checkout extends Vue { }
</script>
