<template lang="pug">
  div
    contact-form.contact-form(:only_register='true')
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ContactForm from '@/components/ContactForm.vue';

@Component({
  components: {
    'contact-form': ContactForm,
  },
})
export default class NewsletterSubscribe extends Vue { }
</script>

<style scoped lang="scss">
.contact-form {
  width: 80%;
  margin: 0 auto;
}
</style>
