<template lang="pug">
  product-details(:handle='handle')
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import ProductDetailsComponent from '@/components/ProductDetails.vue';

@Component({
  components: {
    'product-details': ProductDetailsComponent,
  },
})
export default class ProductDetails extends Vue {
  @Prop({ default: null }) private handle!: string | null;
}
</script>
