<template lang="pug">
  div
    b-alert.alert(show, dismissible, variant='primary')
      | Subscribe to the
      |
      router-link.alert-link(to='/newsletter') newsletter
      |
      | for interesting plant facts, stock updates, and more!
    product-grid(:collection='collection')
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import ProductGrid from '@/components/ProductGrid.vue';

@Component({
  components: {
    'product-grid': ProductGrid,
  },
})
export default class Shop extends Vue {
  @Prop({ default: null }) private collection!: string | null;
}
</script>

<style lang="scss" scoped>
.alert {
  margin-right: 3em;
}
</style>
