<template lang="pug">
  div
    .checkout(v-if="checkout != null")
      div(v-if="products.length === 0")
        | Your shopping cart is empty!
        <br>
        | Click #[router-link(to="/shop") here] to fill it up.

      .checkout-product(v-if="products.length > 0")
        .product-name #[h4 Product Name]
        .product-quantity #[h4 Quantity]
        .product-price #[h4 {{ vertical ? '' : 'Total' }} Price]

      .checkout-product(v-for='product in products', :key='product.id')
        .product-image
          img(:src='get_image_url(product.variant.image)')
        .product-name
          router-link(:to='`/shop/item/${handle(product)}`') {{ product.title }}
        .product-size
          | {{ pot_size(product.variant )}}
        .product-quantity
          checkout-change(:product_id='product.variant.id')
        .product-price
          | {{ format(price(product)) }}

      .checkout-costs(v-if='products.length > 0')
        .checkout-total-name #[h4 Total]
        .checkout-total-info
          p #[i (not including shipping)]
          p #[i To keep your plants safe, we only ship on Monday mornings!]
        .checkout-total {{ format(checkout.totalPrice) }}

        .checkout-discount
          b-form(@submit.prevent='add_discount')
            label.sr-only(for='discount-input') Discount Code
            b-input-group(v-if='!vertical')
              b-form-input#discount-input(
                v-model='discount',
                placeholder='Discount code...',
              )
              b-input-group-append
                b-btn(variant='outline-success', type='submit') Add
                b-btn(variant='outline-success', v-on:click='remove_discount') Remove
            div(v-else)
              b-form-input#discount-input(
                v-model='discount',
                placeholder='Discount code...'
              )
              b-button-group.discount-button-group
                b-btn(block, variant='outline-success', type='submit') Add
                b-btn(block, variant='outline-success', v-on:click='remove_discount') Remove

        .collection-only(v-if="!can_ship")
          | Your order is too large to ship, however you can collect it from our HQ in Glasgow.
          | If you carry on with your checkout, you're confirming that you'll be able to collect,
          | and I'll email you to find a suitable time!

        .checkout-button
          b-btn(block, size='lg', :href='checkout.webUrl', @click='track') Checkout

    resize-observer(@notify='on_resize')
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { get, arr } from '@/models/pagination';
import {
  ProductDetails,
  ProductVariant,
  handle,
  format,
  currency,
  pot_size,
  can_ship,
  get_image_url,
} from '@/models/product';
import { Checkout, CheckoutProduct, price } from '@/models/checkout';
import CheckoutChange from '@/components/CheckoutChange.vue';
import { get_id, new_id } from '@/store/cart';
import { AlertStatus } from '@/models/alert';
import * as Store from '@/store';
import gql from 'graphql-tag';

@Component({
  components: {
    'checkout-change': CheckoutChange,
  },
  apollo: {
    checkout: {
      query() {
        if (this.id == null || this.id === '') {
          return gql`{ shop { name } }`;
        }
        return require('@/graphql/checkout.gql');
      },
      update: data => data.node,
      variables() {
        return {
          checkout: this.id,
        };
      },
      result(data: any) {
        if (data.data.node.completedAt != null) {
          new_id(this.$store, this.$apollo)
            .then(id => (this as CheckoutComponent).id = id);
        }
        (this as CheckoutComponent).checkout = Object.assign({}, data.data.node);
      },
    },
  },
})
export default class CheckoutComponent extends Vue {
  private format = format;
  private currency = currency;
  private price = price;
  private get = get;
  private pot_size = pot_size;
  private handle = handle;
  private get_image_url = get_image_url;

  private vertical = false;
  private checkout: Checkout | null = null;
  private id: string | null = null;

  private get products(): CheckoutProduct[] {
    if (this.checkout == null) {
      return [];
    }

    return arr(this.checkout.lineItems);
  }

  private get can_ship(): boolean {
    let weight = 0;

    for (const item of this.products) {
      weight += item.variant.weight;
      if (can_ship(item.variant) === false) {
        return false;
      }
    }

    return can_ship(weight);
  }

  private discount: string = '';

  public mounted() {
    get_id(this.$store, this.$apollo)
      .then(id => this.id = id);
  }

  private track() {
    for (const item of this.products) {
      const product = {
        name: item.title,
        variant: item.variant.sku,
        quantity: item.quantity,
        price: parseInt(item.variant.price, 10),
      };
      this.$ga.ecommerce.addProduct(product);
    }

    this.$ga.ecommerce.setAction('checkout', { step: 1 });
  }

  private async add_discount() {
    if (this.discount === '') {
      return;
    }

    const res = await this.$apollo.mutate({
      mutation: require('@/graphql/discount_add.gql'),
      variables: {
        checkout: this.id,
        code: this.discount,
      },
    });

    const errors = res.data.checkoutDiscountCodeApply.userErrors;
    if (errors == null || errors.length === 0) {
      Store.alert(this.$store, {
        title: 'Code applied!',
        text: `Added ${this.discount} to your basket.`,
      });
    } else {
      Store.alert(this.$store, {
        title: 'Invalid code!',
        text: `${this.discount} is invalid.`,
        status: AlertStatus.Danger,
      });
    }

    this.discount = '';
  }

  private async remove_discount() {
    const res = await this.$apollo.mutate({
      mutation: require('@/graphql/discount_remove.gql'),
      variables: {
        checkout: this.id,
      },
    });

    Store.alert(this.$store, {
      title: 'Code removed!',
      text: `Removed the discount codes from your basket.`,
    });
  }

  private on_resize() {
    if (window.screen.width > 576) {
      this.vertical = false;
    } else {
      this.vertical = true;
    }
  }
}
</script>

<style scoped lang="scss">
.product-image {
  border: 1px solid $complimentary;
  border-radius: 10%;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 100%;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.checkout {
  width: 100%;
}

.checkout-product {
  width: 100%;
  display: grid;
  grid-gap: 1em;
  margin-bottom: 1em;
  align-items: center;
  grid-template-columns: [image] 0.5fr [name] 2fr [pot-size] 1fr [quantity] 1fr [price] 1fr;

  @include media-breakpoint-down(xs) {
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-areas:
      "name pot-size quantity price";
  }

  & > .product-image {
    grid-column: image;

    @include media-breakpoint-down(xs) {
      display: none;
    }
  }

  & > .product-name {
    grid-column: name;
  }

  & > .product-size {
    grid-column: pot-size;
  }

  & > .product-quantity {
    grid-column: quantity;
  }

  & > .product-price {
    grid-column: price;
    text-align: right;
  }
}

.checkout-button {
  width: 100%;
}

.checkout-costs {
  width: 100%;
  margin-top: 5em;

  display: grid;
  grid-gap: 1em;
  margin-bottom: 1em;

  align-items: center;
  grid-template-columns: 3.5fr 1fr 1fr;
  grid-template-areas:
    "discount total-name    total"
    "........ total-info    total-info"
    "collection-only collection-only collection-only"
    "btn      btn           btn";

  @include media-breakpoint-down(xs) {
    grid-template-areas:
    "discount total-name    total"
    "discount total-info    total-info"
    "collection-only collection-only collection-only"
    "btn      btn           btn";
  }

  & > .checkout-discount {
    grid-area: discount;
  }

  & > .checkout-total {
    grid-area: total;
    text-align: right;
  }

  & > .checkout-total-name {
    grid-area: total-name;
    text-align: right;
  }

  & > .checkout-total-info {
    grid-area: total-info;
    text-align: right;
    margin-top: -1em;
  }

  & > .collection-only {
    grid-area: collection-only;
    font-weight: bold;
    text-align: center;
  }

  & > .checkout-button {
    grid-area: btn;
  }
}

.discount-button-group {
  width: 100%;
  margin-top: 0.5em;

  & > button {
    margin-top: 0;
  }
}
</style>
