<template lang="pug">
  div
    b-btn.button(to='/shop/checkout', variant='outline-secondary')
      svgicon.icon(name='fontawesome/solid/shopping-basket')
      b-badge.count(variant='light text-secondary') {{ count }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { get, arr } from '@/models/pagination';
import { ProductDetails, ProductVariant, format, currency } from '@/models/product';
import { Checkout, CheckoutProduct, price } from '@/models/checkout';
import { get_id, new_id } from '@/store/cart';
import gql from 'graphql-tag';

@Component({
  apollo: {
    checkout: {
      query() {
        if (this.id == null || this.id === '') {
          return gql`{ shop { name } }`;
        }
        return require('@/graphql/checkout.gql');
      },
      update: data => data.node,
      variables() {
        return {
          checkout: this.id,
        };
      },
    },
  },
})
export default class CheckoutButton extends Vue {
  private checkout: Checkout | null = null;
  private id: string | null = null;

  private get count(): number {
    if (this.checkout == null) {
      return 0;
    }

    return this.checkout.lineItems.edges
      .reduce((acc, curr) => acc + curr.node.quantity, 0);
  }

  public mounted() {
    get_id(this.$store, this.$apollo)
      .then(id => this.id = id);
  }
}
</script>

<style lang="scss" scoped>
.button {
  font-size: 1em;
}

.count {
  font-family: $font-family-serif;
  margin-left: 0.5em;
}
</style>
