<template lang="pug">
  div(v-if='product')
    div(v-if='product.availableForSale === false')
      b-btn(v-if='add_to_checkout', block, disabled) Out Of Stock
      b-button-group.button-group(v-else, :vertical='vertical')
        b-btn(
          v-if='vertical === false',
          variant='outline-secondary',
          @click='change(0, true)',
          v-b-tooltip.hover
          title='Remove all from cart'
        ) ×
        b-btn(block, disabled) Out Of Stock
    div(v-else-if='add_to_checkout')
      b-btn(block, @click='change(1)') Add To Cart
    b-button-group.button-group(v-else, :vertical='vertical')
      b-btn(
        v-if='vertical === false'
        variant='outline-primary'
        @click='change(0, true)'
        v-b-tooltip.hover
        title='Remove all from cart'
      ) ×
      b-btn(variant='outline-primary', @click='change(-1)') -
      b-btn(block, variant='outline-primary', disabled) {{ checkout_product.quantity }}
      b-btn(variant='outline-primary', @click='change( 1)') +
    resize-observer(@notify='on_resize')
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { get, arr } from '@/models/pagination';
import { ProductDetails, ProductVariant, format, currency } from '@/models/product';
import { Checkout, CheckoutProduct, price } from '@/models/checkout';
import { get_id, new_id } from '@/store/cart';
import gql from 'graphql-tag';
import { AlertStatus } from '@/models/alert';
import * as Store from '@/store';

function is_checkout(prod: CheckoutProduct | ProductVariant): prod is CheckoutProduct {
  return (prod as any).quantity != null;
}

@Component({
  apollo: {
    checkout: {
      query() {
        if (this.id == null || this.id === '') {
          return gql`{ shop { name } }`;
        }
        return require('@/graphql/checkout.gql');
      },
      update: data => data.node,
      variables() {
        return {
          checkout: this.id,
        };
      },
    },
    product: {
      query() {
        if (this.product_id == null || this.product_id === '') {
          return gql`{ shop { name } }`;
        }
        return require('@/graphql/product_variant_id.gql');
      },
      update: data => data.node,
      variables() {
        return {
          id: this.product_id,
        };
      },
    },
  },
})
export default class CheckoutChange extends Vue {
  @Prop({ required: true }) public product_id!: string;

  private product: ProductDetails | null = null;

  private vertical = false;
  private checkout: Checkout | null = null;
  private id: string | null = null;

  private get checkout_product(): CheckoutProduct | null {
    if (this.checkout == null) {
      return null;
    }

    const prod = this.checkout.lineItems.edges.find(p => p.node.variant.id === this.product_id);
    if (prod == null) {
      return null;
    }

    return prod.node;
  }

  private get add_to_checkout(): boolean {
    if (this.checkout_product != null) {
      return this.checkout_product.quantity === 0;
    }
    return true;
  }

  public mounted() {
    get_id(this.$store, this.$apollo)
      .then(id => this.id = id);
    this.on_resize();
  }

  public async change(change: number, absolute: boolean = false) {
    let res;

    const current_quantity = this.checkout_product ? this.checkout_product.quantity : 0;
    let quantity = change;
    let title = '';
    let variant = '';
    let price = 0;

    const set_vars = () => {
      if (this.checkout_product != null) {
        title = this.checkout_product.title;
        variant = this.checkout_product.variant.sku;
        price = parseInt(this.checkout_product.variant.price, 10);
      }
    };

    set_vars();

    if (this.checkout_product != null && this.add_to_checkout === false) {
      if (absolute === false) {
        quantity = this.checkout_product.quantity + change;
      }

      res = await this.$apollo.mutate({
        mutation: require('@/graphql/change_checkout.gql'),
        variables: {
          checkout: this.id,
          line_item: this.checkout_product.id,
          quantity,
        },
      });
    } else {
      res = await this.$apollo.mutate({
        mutation: require('@/graphql/add_to_checkout.gql'),
        variables: {
          checkout: this.id,
          variant: this.product_id,
        },
      });
    }

    set_vars();

    let action: 'add' | 'remove' = 'add';
    const product = {
      name: title,
      variant,
      quantity: change,
      price,
    };

    if (change > 0) {
      Store.alert(this.$store, {
        title: 'Added to basket!',
        text: `Added ${change} ${title} to your basket.`,
      });
    } else if (change < 0) {
      Store.alert(this.$store, {
        title: 'Removed from basket!',
        text: `Removed ${0 - change} ${title} from your basket.`,
      });
      action = 'remove';
    } else {
      Store.alert(this.$store, {
        title: 'Removed from basket!',
        text: `Removed all ${title} from your basket.`,
      });
      action = 'remove';
      product.quantity = current_quantity;
    }

    this.$ga.ecommerce.addProduct(product);
    this.$ga.ecommerce.setAction(action);
  }

  private on_resize() {
    if (window.screen.width > 576) {
      this.vertical = false;
    } else {
      this.vertical = true;
    }
  }
}
</script>

<style lang="scss" scoped>
@include media-breakpoint-down(xs) {
  .button-group {
    flex-direction: column;
  }
}

.button-group {
  width: 100%;
  display: flex;

  & > * {
    width: 100%;
  }
}
</style>
