<template lang="pug">
  div
    b-form(@submit.prevent='submit', v-if='show')
      b-form-group#name(
        label='Your Name',
        label-for='name-input',
        horizontal
      )
        b-form-input#name-input(required, type='text', v-model='form.name', placeholder='Enter your name')
      b-form-group#email(
        label='Email address',
        label-for='email-input',
        description="We'll never share your email with anyone else",
        horizontal
      )
        b-form-input#email-input(required, type='email', v-model='form.email', placeholder='youremail@here.com')
      b-form-group#message(
        v-if='only_register === false',
        label='Your Message',
        label-for='message-input',
        horizontal
      )
        b-form-textarea#message-input(required, v-model='form.message', :rows='5', placeholder='Enter your message')
      b-form-group#contact(
        label='',
        label-for='contact-input',
        horizontal
      )
        b-form-checkbox-group#contact-input(stacked, v-model='form.topics')
          template(v-for='nl of newsletters')
            b-form-checkbox(:value='nl.value') {{ nl.text }}
            .ml-4
              small {{ nl.desc }}
      b-button(block, size='lg', type='submit', :disabled='only_register && selected_newsletter === false') Submit
      b-form-text(v-if='only_register === false')
        p
          | By submitting this form, you agree to our
          | #[router-link(to='/privacy-policy') privacy policy],
          | specifically, we will use your details in order to reply to your message if needed.
        p(v-if='form.contact === false')
          | We will not store or use your data for any other use.
        p(v-else)
          | We will store your details in order to contact you in the future.
          | You can change this at any time by contacting us.
      b-form-text(v-else)
        p
          | By submitting this form, you agree to our
          | #[router-link(to='/privacy-policy') privacy policy],
          | specifically, we will store your details in order to contact you in the future.
          | You can change this at any time by contacting us.
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import Config from '@/config';
import { AlertStatus } from '@/models/alert';
import * as Store from '@/store';

@Component
export default class ContactForm extends Vue {
  @Prop({ default: false }) public only_register!: boolean;

  private newsletters: Array<{ text: string; desc: string; value: string }> = [
    {
      text: 'Arcanopy',
      desc: 'Exciting shop updates, when I get super cool plants in, maybe some highlights of my personal collection, things like that!',
      value: 'main',
    },
    {
      text: 'Cool Plants',
      desc: 'Let me tell you about cool plant facts I find out!',
      value: 'cool_plants',
    },
    {
      text: 'Greenhouse',
      desc: 'Greenhouse is a web-based plant management system, built from nothing by a plant lover, for plant lovers!',
      value: 'greenhouse',
    },
  ];

  private show: boolean = true;
  private form = {
    email: '',
    name: '',
    message: '',
    topics: [],
  };

  private get selected_newsletter(): boolean {
    return this.form.topics.length > 0;
  }

  private async submit() {
    try {
      if (this.only_register === false) {
        await axios.post(`${Config.api}/newsletter/contact`, {
          email_address: this.form.email,
          first_name: this.form.name,
          message: this.form.message,
        });
      }

      if (this.selected_newsletter === true) {
        const res = await axios.post(`${Config.api}/newsletter/subscribe`, {
          email_address: this.form.email,
          first_name: this.form.name,
          topics: this.form.topics,
        });
      }

      let title = '';
      let text = '';

      if (this.only_register === false) {
        title = 'Message Sent!';
        text = 'Thanks for your message! ';
      } else {
        title = 'Thanks for Subscribing!';
      }

      if (this.selected_newsletter === true) {
        text += 'Please check your emails to confirm your subscription to our newsletter.';
      }

      Store.alert(this.$store, {
        title: 'Message Sent!',
        text,
      });

      this.reset();
    } catch (err) {
      Store.alert(this.$store, {
        title: 'Sending Failed!',
        text: 'There was an error sending your message, please try again.',
        status: AlertStatus.Danger,
      });
    }
  }

  private reset() {
    this.form.email = '';
    this.form.name = '';
    this.form.message = '';
    this.form.topics = [];

    this.show = false;
    this.$nextTick(() => this.show = true);
  }
}
</script>
