<template lang="pug">
  div
    .product-grid
      .div(
        v-for="product in arr(products)"
        :key="product.id"
      )
        product-overview(:product="product", @click='track')
    .load-more-btn
      b-btn(
        class="load-more"
        @click="load_more"
        v-if="has_next(products)"
      ) Load More
</template>

<script lang="ts">
import VueApollo from 'vue-apollo';
import { Component, Prop, Vue, Watch } from 'vue-property-decorator';
import ProductOverview from '@/components/ProductOverview.vue';
import { Paginated, defaultPaginated, arr, cursor, has_next } from '@/models/pagination';
import { Product } from '@/models/product';

@Component({
  components: {
    'product-overview': ProductOverview,
  },
  apollo: {
    products: {
      query() {
        if (this.collection == null) {
          return require('@/graphql/products_home.gql');
        }
        return require('@/graphql/products_collections.gql');
      },
      update(this: ProductGrid, data: any) {
        const prev = this.products;
        const products = this.map(data);

        arr(products).forEach((product, i) => {
          if (arr(prev).find(p => product.id === p.id)) {
            return;
          }

          this.$ga.ecommerce.addImpression({
            name: product.title,
            position: i + 1,
            category: this.collection || undefined,
          });
        });

        return products;
      },
      variables() {
        if (this.collection == null) {
          return {};
        }

        return {
          collection: this.collection,
          cursor: null,
        };
      },
    },
  },
})
export default class ProductGrid extends Vue {
  private arr = arr;
  private has_next = has_next;

  private products: Paginated<Product>;
  @Prop() private collection!: string | null;

  constructor() {
    super();
    this.products = defaultPaginated();
  }

  @Watch('$route')
  private reset() {
    this.products = defaultPaginated();
  }

  private map(data: any): Paginated<Product> {
    if (this.collection == null) {
      return data.shop.products;
    }
    return data.shop.collectionByHandle.products;
  }

  private track(product: Product) {
    const i = arr(this.products).findIndex(p => product.id === p.id);

    if (i < 0) {
      return;
    }

    this.$ga.ecommerce.addProduct({
      name: product.title,
      position: i + 1,
      category: this.collection || undefined,
    });
    this.$ga.ecommerce.setAction('detail');
  }

  private async load_more() {
    const variables: any = {
      cursor: cursor(this.products),
    };

    if (this.collection != null) {
      variables.collection = this.collection;
    }

    await this.$apollo.queries.products.fetchMore({
      variables,
      updateQuery: (previous, { fetchMoreResult }) => {
        const prev_products: Paginated<Product> = this.map(previous);
        const new_products: Paginated<Product> = this.map(fetchMoreResult);

        new_products.edges = [...prev_products.edges, ...new_products.edges];

        return fetchMoreResult;
      },
    });
  }
}
</script>

<style scoped lang="scss">
.product-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  & > * {
    width: 30%;
    max-width: 300px;
    margin: 0 1% 1%;

    &:nth-child(n + 4) {
      margin: 1%;
    }

    @include media-breakpoint-down(xs) {
      width: 100%;
      max-width: 100%;
      margin: 1em;

      &:not(:first-child) {
        margin: 1%;
      }
    }
  }
}

.load-more-btn {
  width: 100%;
  text-align: center;
}

.load-more {
  margin: 0 auto;
}
</style>
