<template lang="pug">
  .product(v-if='product != null')
    a.product-image(:href='get_image_url(get(product.images, 0), `original`)')
      img(:src='get_image_url(get(product.images, 0), `medium`)')
    .product-info
      h2.product-name {{ product.title }}
      .care-guide(v-if='care_sheet')
        b-btn(block='' variant='primary' :href='`/docs/${ handle }.pdf`') Care Sheet
      template.variant(v-for='variant in variants')
        checkout-change.cart(:product_id='variant.id' :key='`${variant.id}-cart`')
        .price(:key='`${variant.id}-price`') {{ format(currency(variant.price, product.priceRange)) }}
        .title(:key='`${variant.id}-title`')
          span(v-if='has_option(variant, `Pot Size`)') {{ pot_size(variant) }}
          span(v-if='has_option(variant, `Colour`)') {{ colour(variant) }}
        .collection-only(v-if='!can_ship(variant)' :key='`${variant.id}-collection-only`')
          | Collection Only
    .product-description(v-html='product.descriptionHtml')
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import axios from 'axios';
import CheckoutChange from '@/components/CheckoutChange.vue';
import { get, arr } from '@/models/pagination';
import {
  ProductDetails,
  ProductVariant,
  format,
  has_option,
  colour,
  currency,
  pot_size,
  can_ship,
  get_image_url,
} from '@/models/product';
import { get_id } from '@/store/cart';
import { ApolloQueryResult } from 'apollo-boost';

@Component({
  components: {
    'checkout-change': CheckoutChange,
  },
  apollo: {
    product: {
      query: require('@/graphql/product_details.gql'),
      update: data => data.shop.productByHandle,
      variables() {
        return {
          handle: this.handle,
        };
      },
      result(res: ApolloQueryResult<any>) {
        if (res.data.shop.productByHandle == null) {
          this.$router.replace('/404');
        }
      },
    },
  },
})
export default class ProductDetailsComponent extends Vue {
  private format = format;
  private colour = colour;
  private currency = currency;
  private has_option = has_option;
  private get = get;
  private pot_size = pot_size;
  private can_ship = can_ship;
  private get_image_url = get_image_url;

  @Prop() private handle!: string;
  private product: ProductDetails | null = null;
  private care_sheet = false;

  private get variants(): ProductVariant[] {
    if (this.product == null) {
      return [];
    }

    return arr(this.product.variants);
  }

  private get analytics_product() {
    return {
      name: this.product!.title,
    };
  }

  constructor() {
    super();
    this.product = null;
  }

  public mounted() {
    axios.get(`/docs/${this.handle}.pdf`)
      .then(() => this.care_sheet = true)
      .catch(() => this.care_sheet = false);
  }

  private async add_to_cart(variant: ProductVariant) {
    const id = await get_id(this.$store, this.$apollo);

    this.$ga.ecommerce.addProduct({
      ...this.analytics_product,
      variant: variant.sku,
      id: variant.sku,
      quantity: 1,
      price: parseInt(variant.price, 10),
    });
    this.$ga.ecommerce.setAction('add');

    const res = await this.$apollo.mutate({
      mutation: require('@/graphql/add_to_checkout.gql'),
      variables: {
        checkout: id,
        variant: variant.id,
      },
    });
  }
}
</script>

<style scoped lang="scss">
.product-image {
  border: 2px solid $complimentary;
  border-radius: 10%;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 100%;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  @include media-breakpoint-down(xs) {
    margin: 0 auto;
    $size: 80%;
    width: $size;
    padding-top: $size;
  }
}

.product {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: fit-content(100%) fit-content(100%) 1fr;
  grid-template-areas:
    ". image  ."
    ". product ."
    "description description description";

  @include media-breakpoint-down(xs) {
    grid-template-areas:
      "image"
      "product"
      "description";

    grid-template-columns: 1fr;
    grid-template-rows: fit-content(100px) fit-content(100%) fit-content(100%);
  }

  & > .product-image {
    grid-area: image;
  }

  & > .product-info {
    grid-area: product;
  }

  & > .product-description {
    grid-area: description;
  }
}

@include media-breakpoint-down(xs) {
  .product-info {
    & h2 {
      text-align: center;
    }
  }
}

.product-info {
  display: grid;
  grid-gap: 1em;
  align-items: center;

  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  grid-template-areas:
    "name name name name"
    "care . . ."
    "cart price title collection-only";

  @include media-breakpoint-down(xs) {
    grid-template-areas:
    "name name name"
    "care care care"
    "collection-only collection-only collection-only"
    "cart price title";
  }

  & > .product-name {
    grid-area: name;
    text-align: center;
  }

  & > .care-guide {
    grid-area: care;
  }

  & > .title {
    grid-column: title;
  }

  & > .price {
    grid-column: price;
  }

  & > .cart {
    grid-column: cart;
  }

  & > .collection-only {
    grid-column: collection-only;
    font-weight: bold;
  }
}
</style>
