<template lang="pug">
  .product(:class="{ 'out-of-stock': !product.availableForSale }")
    router-link(:to='`/shop/item/${product.handle}`', @click='click')
      .product-image
        img(:src='get_image_url(get(product.images, 0), `small`)')
        .overlay
          h2 {{ product.title }}
          p.price {{ product.availableForSale ? format(product.priceRange) : 'Out Of Stock'}}
</template>

<script lang="ts">
import { Component, Emit, Prop, Vue } from 'vue-property-decorator';
import { get } from '@/models/pagination';
import { Product, format, get_image_url } from '@/models/product';

@Component({
})
export default class ProductOverview extends Vue {
  private format = format;
  private get = get;
  private get_image_url = get_image_url;

  @Prop() private product!: Product;

  @Emit('click')
  private click() {
    return this.product;
  }
}
</script>

<style scoped lang="scss">
.product {
  border: 2px solid $complimentary;
  border-radius: 10%;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  width: 100%;
  position: relative;
  height: 0;
  padding-top: 100%;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.out-of-stock {
    & img {
      filter: saturate(30%);
    }
  }
}

.product-image {
  width: 100%;
  overflow: hidden;
  position: relative;

  text-align: center;

  & .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 25% 10%;
  }

  & img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-10px, 0, 0);
    backface-visibility: hidden;
  }

  & h2 {
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
    transition: transform 0.35s;
    transform: translate3d(-120%, 0, 0);

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: black;
      content: '';
      transition: transform 0.35s;
    }
  }

  & .price {
    color: black;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(100%, 0, 0);
  }

  &:hover {
    & img {
      opacity: 0.3;
      transform: translate3d(0, 0, 0);
    }

    & h2, & h2:after {
      transform: translate3d(0, 0, 0);
    }

    & .price {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
</style>
