<template lang="pug">
  #app
    header
      router-link(to='/')
        logo
      checkout-button.checkout-button
    #nav
      div
        router-link(to='/') Shop
        .collections
          router-link(
            v-for='collection in arr(collections)',
            :key='collection.id',
            :to='`/shop/${collection.handle}`',
          ) {{ collection.title }}
        router-link(to='/about') About
    div.router-view
      div.cookie-wrapper
        vue-cookie-accept-decline.alert.alert-primary(
          elementId='gdpr',
          position='top',
          type='bar',
          transitionName='fade',
          @status='cookies_status',
          @clicked-accept='cookies_accept',
          @clicked-decline='cookies_decline',
        )
          div(slot='message')
            | Hi! I use cookies to make this site functional,
            | would you mind if I also collected some anonymous usage
            | data to help improve the site?
            |
            | You can learn more about what cookies are
            |
            a.alert-link(href='https://cookiesandyou.com', target='_blank') here
            | !
          div(slot='acceptContent')
            | Yep, sure thing!
          .close(slot='declineContent')
            | &times;
      router-view
    footer
      a(href='https://twitter.com/arcanopy')
        svgicon(name='fontawesome/brands/twitter-square')
      a(href='https://instagram.com/arcanopy')
        svgicon(name='fontawesome/brands/instagram')
      a(href='https://facebook.com/arcanopyplants')
        svgicon(name='fontawesome/brands/facebook-square')
      a(href='mailto:hi@arcanopy.com')
        svgicon(name='fontawesome/regular/envelope')
    notify-me(
      :event-bus='bus',
      close='bootstrap',
      width='400px',
    )
      .arcanopy-message-box(slot='content', slot-scope='{ data }', role='alert')
        h5.alert-heading {{ data.title }}
        span {{ data.text }}
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { State, Getter } from 'vuex-class';

// @ts-ignore
import Notify from 'vue-notify-me';

import { AlertStatus } from '@/models/alert';
import * as Store from '@/store';
import { Paginated, defaultPaginated, arr } from '@/models/pagination';
import { CollectionName } from '@/models/collection';
import CheckoutButton from '@/components/CheckoutButton.vue';

// @ts-ignore
import Logo from '@/assets/header.svg';

/* tslint:disable */
const icons: { } = [
  require('~/fontawesome/brands/twitter-square'),
  require('~/fontawesome/brands/facebook-square'),
  require('~/fontawesome/brands/instagram'),
  require('~/fontawesome/regular/envelope'),
  require('~/fontawesome/solid/shopping-basket'),
];
/* tslint:enable */

@Component({
  components: {
    'checkout-button': CheckoutButton,
    'notify-me': Notify,
    'logo': Logo,
  },
  apollo: {
    collections: {
      query: require('@/graphql/collections_sidebar.gql'),
      update: data => data.shop.collections,
    },
  },
})
export default class App extends Vue {
  private arr = arr;
  private bus: Vue = new Vue();
  private icons: any = icons;
  private JSON = JSON;
  private collections: Paginated<CollectionName>;

  constructor() {
    super();

    this.collections = defaultPaginated();

    Store.alert_observable(this.$store).subscribe(alert => {
      this.bus.$emit('notify-me', {
        data: {
          title: alert.title,
          text: alert.text,
        },
        status: AlertStatus.toClass(alert.status),
        permanent: alert.permanent || false,
        timeout: alert.timeout || 4000,
      });
    });
  }

  private cookies_status(status: string) {
    if (status === 'accept') {
      this.cookies_accept();
    }
  }

  private cookies_accept() {
    this.$ga.enable();
    this.$ga.page(this.$route.path);
  }

  private cookies_decline() {
    this.$ga.disable();
  }
}
</script>

<style lang="scss">
header {
  margin: 0 auto;
  width: 100%;
  position: relative;

  & > .checkout-button {
    position: absolute;
    right: 4em;
    bottom: 1em;

    @include media-breakpoint-down(xs) {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 0 1em;
      right: unset;
      bottom: unset;

      & > * {
        margin: 0 auto;
        max-width: 60%;
        display: block;
      }
    }
  }
}

#logo {
  $vine-length: 1300px;
  $vine-time: 3s;
  $flower-time: 250ms;
  $flower-delay: $vine-time - 500ms;

  position: relative;
  width: 100%;
  max-width: 100%;
  max-height: 100%;

  & #flower-stripes {
    transition: all $flower-time ease-in-out $flower-delay;
    opacity: 1;
  }

  &:not(:hover) {
    & #flower-stripes {
      transition-delay: 0s;
    }
  }

  &:not(:hover) {
    & #flower-stripes {
      opacity: 0;
      transition-delay: 0s;
    }
  }

  & #anim-vine {
    stroke-dasharray: $vine-length;
    stroke-dashoffset: $vine-length;
    transition: all $vine-time ease-in-out;
  }

  &:hover #anim-vine {
    stroke-dasharray: $vine-length;
    stroke-dashoffset: 0px;
  }
}

#nav {
  font-size: 1.2rem;
  text-align: right;

  & > div {
    position: sticky;
    top: 0;
  }

  & div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @include media-breakpoint-down(xs) {
      justify-content: center;
      flex-direction: row;
    }
  }

  & .collections {
    margin-left: 1rem;
    font-size: 1rem;
  }

  & a {
    margin: 0.2em 0.5em;

    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}

footer {
  position: fixed;
  bottom: 0.3em;
  left: 0.3em;

  display: grid !important;
  grid-gap: 1em;
  grid-template-columns: repeat(4, 1.6em);
  align-items: flex-end;

  & > * {
    width: 100%;
    height: 100%;
  }

  @include media-breakpoint-down(xs) {
    position: relative;
    min-width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  & .svg-icon {
    $size: 100%;
    display: inline-block;
    width: $size;
    height: $size;
  }
}

.router-view {
  $size: 1em;
  margin: 0 auto;
  margin-top: $size;
  margin-bottom: $size;
  padding: 0 $size;
  width: 100%;
}

#app {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: minmax(10em, 10%) 1fr;
  grid-template-rows: minmax(200px, 10%) 1fr;
  grid-template-areas:
    "header  header"
    "sidebar content";

  @include media-breakpoint-down(xs) {
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows: minmax(200px, 10%) 2em 1fr;

    & footer {
      grid-area: footer;
    }
  }

  & header {
    grid-area: header;
  }

  & #nav {
    grid-area: sidebar;
  }

  & .router-view {
    grid-area: content;
  }
}

.notification {
  font-size: 0.75rem;
}

.arcanopy-message-box {
  word-break: break-all;
  width: 100%;
}

.cookie-wrapper {
  margin-right: 3em;

  & > #gdpr {
    font-family: inherit;
    font-size: 1rem;

    & > .cookie__bar__content {
      font-size: 1rem;
      margin-right: 1rem;
    }

    & > .cookie__bar__buttons {
      & .cookie__bar__buttons__button {
        padding-top: initial;
        padding-bottom: initial;
      }

      & > .cookie__bar__buttons__button--decline {
        background: transparent;
        order: 1;
        margin-right: 0;
        padding-right: 0;
        color: inherit;

        & .close {
          color: inherit;
        }
      }

    }
  }
}
</style>
