
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
}

#app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Poiret One';
}

body {
  font-family: $font-family-serif;
}

.btn {
  font-family: $font-family-sans-serif;
  font-weight: bold;
}

.form-row > label {
  text-align: right;

  @include media-breakpoint-down(xs) {
    text-align: left;
  }

  &:after {
    content: ':';
  }
}

/* recommended css code for vue-svgicon */
.svg-icon {
  $size: 1.3em;
  display: inline-block;
  width: $size;
  height: $size;
  color: inherit;
  vertical-align: text-bottom;
  fill: none;
  stroke: currentColor;
}

.svg-fill {
  fill: currentColor;
  stroke: none;
}

.svg-up {
  /* default */
  transform: rotate(0deg);
}

.svg-right {
   transform: rotate(90deg);
}

.svg-down {
  transform: rotate(180deg);
}

.svg-left {
  transform: rotate(-90deg);
}
