$font-family-serif: 'Lustria';
$font-family-sans-serif: 'Poiret One';

$primary: #719F09;
$secondary: #ECFB67;
$complimentary: #CE559F;

$theme-colors: (
  "primary": $primary,
  "secondary": $complimentary,
  "success": $primary,
  "complimentary": $complimentary,
  "action": $complimentary,
);

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@mixin max-size {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1em;
}
